*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    width:100%;
    min-height:100vh;
    background:#f2f2f2;

    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}


/* MAIN GRID */

.container{

    width:1200px;
    height:700px;

    display:grid;

    grid-template-columns:
    260px
    280px
    280px
    180px;

    grid-template-rows:
    120px
    260px
    180px;

    gap:20px;
}


/* LEFT CARD */

.left-card{

    background:#8f8cf2;
    border-radius:25px;
    padding:20px;

    grid-row:1/4;
    grid-column:1/2;

    
   position: relative;
    overflow: hidden;
    border-radius: 25px; 
}


.left-card h3{
    margin-bottom:20px;
}


.profile-image{

     width:180px;
    height:180px;
    background:white;
    border-radius:50%;

    margin:auto;

    display:flex;
    justify-content:center;
    align-items:center; 

    
}

    



.left-card h1{

    font-size:55px;
    color:white;
    margin-top:20px;
    line-height:60px;
}


.left-card p{

    color:white;
    margin-top:20px;
}


.logo-image{

    width:80px;
    height:80px;

    background:black;
    color:white;

    border-radius:50%;

    position:absolute;
    bottom:20px;
    right:20px;

    display:flex;
    justify-content:center;
    align-items:center;
}


/* HEADING */

.heading{

    grid-column:2/5;
    grid-row:1/2;

    font-size:90px;
    font-weight:bold;

    display:flex;
    align-items:center;
}



/* FLAMINGO IMAGE */

.video-card{

    grid-column:2/4;
    grid-row:2/3;

    background:#ddd;
    border-radius:20px;

    display:flex;
    justify-content:center;
    align-items:center;
}



/* PROJECT BOX */

.project-box{

    background:#bde6df;
    border-radius:20px;

    grid-column:4/5;
    grid-row:2/3;

    padding:25px;
}


.project-box h1{
    font-size:55px;
}

.project-box p{
    font-size:22px;
}



/* AWARD BOX */

.award-box{

    background:#a68de7;
    color:white;

    border-radius:20px;

    grid-column:4/5;
    grid-row:2/3;

    margin-top:120px;

    padding:25px;
}


.award-box h1{
    font-size:45px;
}



/* CLIENTS */

.clients-box{

    background:#6f6f6f;
    color:white;

    border-radius:20px;

    grid-column:2/3;
    grid-row:3/4;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.apple-logo{

    width:70px;
    height:70px;

    background:white;
    color:black;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-bottom:10px;
}



/* IMAGE */

.sphere-image{

    background:black;
    color:white;

    border-radius:20px;

    grid-column:3/4;
    grid-row:3/4;

    display:flex;
    justify-content:center;
    align-items:center;
}


/* DESIGN AWARD */

.design-award{

    background:#f6c15a;
    border-radius:20px;

    grid-column:4/5;
    grid-row:3/4;

    padding:25px;
}


.design-award h1{

    font-size:50px;
    margin-bottom:15px;
}


.design-award p{

    font-size:22px;
    line-height:30px;
}